div{
  border-radius: 5px;
  padding: 10px;
  font-family: fantasy;
  border: 5px prout brown;
  color:#f9f;
}

a{
  text-decoration: none;
  color: #A00;

}
a:hover{
  opacity: 0.4;

}

ul{
  list-style-position: outside;
  list-style-image: url("https://maxcdn.icons8.com/Color/PNG/24/Plants/chocolate_tree-24.png");
}

span{
    font-weight: bold;

}

.header{
  font-size: 2em;
  background-color: #1122ee;
  margin-top: -30px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  
  margin: 20px;
}

.navbar{
  position: fixed;
  float: left;
  margin: 20px;
  /*border: 2px solid black;*/
  background-color: #9bf;
  padding: 5px;
    z-index: 1;
}

.main{
  position: relative;
  margin: 20px;
  margin-left: 160px;
  padding: 5px;
  /*border: 2px solid black;*/
  text-align: justify;
  background-color: #9bf;
}

.footer{
  clear: both;
  background-color: #99A8ff;
  align-items: center;
  text-align: right;
  margin: 20px;
  opacity: 0.8;
  height: 25px;
}

.footer p {
  display: inline-block;
  padding-bottom: 10px;

}
